Package: com.mologie.clipshot
Name: ClipShot
Description: Save screenshots to the clipboard
Version: 0.3
Section: System
Maintainer: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Author: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Depends: firmware (>= 6), mobilesubstrate
Architecture: iphoneos-arm
Priority: optional
