Package: com.mologie.clipshot
Name: ClipShot
Description: Save screenshots to the clipboard
Version: 0.4.2
Section: System
Maintainer: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Author: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Depends: firmware (>= 6), mobilesubstrate
Replaces: net.evancoleman.screenshotdam
Breaks: net.evancoleman.screenshotdam
Architecture: iphoneos-arm
Priority: optional
