Package: com.mologie.clipshot
Name: ClipShot
Description: Save screenshots to the clipboard
Version: 0.4.3
Section: System
Maintainer: Oliver Kuckertz <support+cydia@mologie.com>
Author: Oliver Kuckertz <support+cydia@mologie.com>
Depends: firmware (>= 6), mobilesubstrate
Replaces: net.evancoleman.screenshotdam
Breaks: net.evancoleman.screenshotdam
Architecture: iphoneos-arm
Priority: optional
